body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
}

p {
  font-size: 16px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.main__intro {
  position: absolute;
  width: 25rem;
}

.main__intro-title--huge {
  font-family: "Raleway", sans-serif;
  font-size: 50px !important;
  font-weight: 700;
}

.main__caracteristicas-title {
  text-align: center;
}

.main__graphic {
  display: flex;
  justify-content: end;
  animation: fade 3s ease-in-out 0s infinite;
}

.main__caracteristicas {
  padding-left: 2em;
}

@media only screen and (max-width: 992px) {
  .main__mountain {
    width: 100%;
  }

  .main__intro {
    position: relative;
    width: 300px;
  }

  .main__graphic {
    display: flex;
    justify-content: center;
  }
}
.section {
  background-image: url("../images/bg-price.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5em;
  padding-top: 4em;
}

.footer {
  background-color: #221D23;
  color: #fff;
}

.footer__left {
  display: flex;
  justify-content: space-around;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
}

.nav__item-right-button {
  background-color: #2AB7CA;
  color: #fff;
  border: 0;
  font-weight: 700;
  height: 2em;
  margin-top: 1em;
  margin-left: 1em;
}
.nav__item-right-button:hover {
  background-color: #77D1DD;
}
.nav__item-right-button:focus {
  background-color: #C7C8CC;
}

.section__card1-button, .section__card2-button {
  background-color: #2AB7CA;
  color: #fff;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 0.3em;
}

.section__card1-button {
  padding: 1em 6.5em 1em 5.4em;
}

.section__card2-button {
  padding: 1em 4.3em 1em 5.4em;
}

@media only screen and (min-width: 992px) {
  .section__card1-button, .section__card2-button {
    padding: 1em 7em;
    font-size: 16px;
    margin-left: 1.5em;
  }
}
.section__title {
  color: #fff;
  text-align: center;
  padding-top: 5em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.section__card1-title, .section__card2-title {
  margin-bottom: 0.5em;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
}

.section__card1-title--huge, .section__card2-title--huge {
  margin-top: 0;
  border-bottom: 1px solid #8F9199;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.section__card1-list, .section__card2-list {
  border-bottom: 1px solid #8F9199;
  font-family: "Open Sans", sans-serif;
}

li {
  margin-bottom: 1em;
}

.section__card1-list {
  padding-bottom: 8em;
}

.section__card2-list {
  padding-bottom: 1em;
}

.section__card1-list, .section__card2-list {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.section__card1, .section__card2 {
  background-color: #fff;
  width: 18em;
  height: 30em;
  border: 1px solid #8F9199;
}
.section__card1:hover, .section__card2:hover {
  border: 1px solid #726F73;
  box-shadow: 0px 9px 25px 2px rgba(0, 0, 0, 0.56);
}

.section__card1 {
  margin-bottom: 1em;
}

.section__card2 {
  padding-bottom: 4em;
}

@media only screen and (min-width: 992px) {
  .section__card1, .section__card2 {
    width: 24em;
    height: 30em;
    padding: 0;
  }

  .section {
    padding-top: 0;
  }
}
.nav {
  padding: 2em;
  position: relative;
}

.nav__logo {
  position: absolute;
  text-align: center;
}

#path-1:hover {
  fill: #77D1DD;
  transition: all 0.5s ease-in-out 0.5s;
}

.nav__list {
  padding-left: 2em;
  font-family: "Open Sans", sans-serif;
}
.nav__list ul {
  display: block;
}
.nav__list li {
  list-style-type: none;
  padding-right: 1em;
}

.collapsible {
  width: 100%;
  text-align: right;
}
.collapsible label {
  display: block;
  padding-left: 1em;
}

#menu {
  display: none;
}

input:checked ~ .nav__space {
  max-height: 100%;
}

.nav__list, .nav__items-right {
  max-height: 100%;
  padding: 0;
  overflow: hidden;
}

.nav__space {
  max-height: 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .collapsible label {
    display: none;
  }

  .nav__space {
    display: flex;
    max-height: 100%;
    padding: 0.5em 3em 0.5em 1em;
    overflow: visible;
    justify-content: space-between;
    flex-direction: row;
  }

  .nav__items-right {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
  }

  .nav__list ul {
    display: flex;
    justify-content: space-around;
  }
  .nav__list li {
    padding-left: 2em;
    padding-right: 1em;
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
