.main__intro{
	position: absolute;
	width: 25rem;
}
.main__intro-title--huge{
	font-family: $raleway;
	font-size: $xxxxxx-large !important;
	font-weight: $bold;
}
.main__caracteristicas-title{
	text-align: center;
}

.main__graphic{
	display: flex;
	justify-content: end;
	animation: fade 3s ease-in-out 0s infinite
}
.main__caracteristicas{
	padding-left: 2em;
}
@media only screen and (max-width: 992px){
	.main__mountain{
		width: 100%;
	}
	.main__intro{
		position:relative;
		width: 300px;
	}
	.main__graphic{
		display: flex;
		justify-content: center;
	}
}
