.main{
	background-image: url('../images/bg-hero.svg');
	background-size: cover;
	background-repeat: no-repeat;

}
.main__caracteristicas-title{
	text-align: center;
}
.main__graphic{
	display: flex;
	justify-content: center;
}
