.nav__item-right-button{
	background-color: $ball-blue;
	color: $white;
	border: 0;
	font-weight: $bold;
	height: 2em;
	margin-top: 1em;
	margin-left: 1em;
	&:hover{
		background-color: $middle-blue;
	}
	&:focus{
		background-color: $lavander-gray;
	}
}

.section__card1-button, .section__card2-button{
	background-color: $ball-blue;
	color: $white;
	border: 0;
	font-family: $open-sans;
	font-weight: $bold;
	font-size: $medium;
	margin-left: 0.3em;
}

.section__card1-button{
	padding: 1em 6.5em 1em 5.4em;
}
.section__card2-button{
	padding: 1em 4.3em 1em 5.4em;
}
@media only screen and (min-width: 992px){
	.section__card1-button, .section__card2-button{
		padding: 1em 7em;
		font-size: $medium;
		margin-left: 1.5em;
	}
}
