.nav{
	padding:2em;
	position: relative;
}
.nav__logo{
	position: absolute;
	text-align: center;
}
#path-1:hover {
 fill:$middle-blue;
 transition: all 0.5s ease-in-out 0.5s;
}
.nav__list {
	padding-left: 2em;
	font-family: $open-sans;
	ul{
		display: block;
	}
	li{
		list-style-type: none;
		padding-right: 1em;
	}
}

.collapsible {
	width:100%;
	text-align: right;
	label {
		display: block;
		padding-left: 1em;
	}
}
#menu {
	display: none;
}
input:checked ~ .nav__space {
	max-height: 100%;
}
.nav__list, .nav__items-right{
	max-height: 100%;
	padding: 0;
	overflow: hidden;
}

.nav__space{
	max-height: 0;
	display: flex;
	flex-direction: column;
}


@media only screen and (min-width: 992px) {
	.collapsible {
		label {
			display: none;
		}
	}
	.nav__space {
		display: flex;
		max-height: 100%;
		padding: .5em 3em .5em 1em;
		overflow: visible;
		justify-content: space-between;
		flex-direction: row;
	}
	.nav__items-right {
		display: flex;
		justify-content: flex-end;
		margin: inherit;
		padding: inherit;
	}
	.nav__list{
		ul{
			display: flex;
			justify-content: space-around;
		}
		li{
			padding-left: 2em;
			padding-right: 1em;
			display: block;
		}
	}
}





